@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat',sans-serif;
}

body{
    display: grid;
    margin: 0;
    padding: 0;
    place-items: center;
    height: 100vh;
    background: #f2f8ff;
}

.container{
    height: 400px;
    width: 400px;
    background: #fff;
    border: 1px solid #e2ebf4;
    position: relative;
}
 
.container h1{
    color: #1479ff;
    font-size: 50px;
    position: absolute;
    top: 8%;
    left: 23%;
}
.container #counter{
    width: 70%;
    height: 127px;
    position: absolute;
    top: 30%;
    left:15%;
    font-size: 80px;
    text-align: center;
   color: #3ddcef;   
}

.buttons{
    height: 50px;
    width: 260px;
    bottom: 20%;
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 18%;
    
}

.buttons .btn {
    height: 40px;
    width: 120px;
    margin: 4px;
    background: #1479ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #191c2110;
    cursor: pointer;
    
}

.btnReset{
    height: 50px;
    width: 260px;
    bottom: 4%;
    position: absolute;
    left: 19%;
    
    
}

.btnReset #reset {
    height: 40px;
    width: 250px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 20px;
    background: #1479ff;
    outline: none;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #191c2110;
    cursor: pointer;
    
}